<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="bundler">
      <section name="security" requirePermission="false" type="Bundler.Configuration.BundlerSecuritySection, Bundler, Culture=neutral" />
      <section name="processing" requirePermission="false" type="Bundler.Configuration.BundlerProcessingSection, Bundler, Culture=neutral" />
    </sectionGroup>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <bundler>
    <!-- Whether to allow remote downloads -->
    <!-- The maximum allowed remote file size in bytes -->
    <!-- The remote file download timeout in milliseconds -->
    <security allowRemoteDownloads="true" maxBytes="524288" timeout="300000">
      <!--
      A list of white-listed urls from which we are allowed to download and process remote files.
      The token value allows us to add the file reference without the risk of hitting IEs 1024 
      character url limit.
      -->
      <whiteList>
        <add token="jquery" url="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js" />
        <add token="fontawesome" url="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
      </whiteList>
    </security>
    <!--
    The javascript engine for processing embedded javascript based processors.
    Tested working engines include V8JsEngine and MsieJsEngine.
    -->
    <processing jsEngine="V8JsEngine">
      <!-- The comma separated virtual paths to the css and js folders.-->
      <virtualPaths cssPaths="~/content" jsPaths="~/scripts" />
      <!-- Where to store crunched files in the application and how long to keep expired ones.-->
      <physicalFiles path="~/bundles" daysBeforeRemoveExpired="7" />
      <!--
      Autoprefixer options
      Whether to enable the prefixer.
      What browsers to support 
      Whether to create nice visual cascade of prefixes.
      Whether to enable the special safe mode to parse broken CSS.
      -->
      <autoPrefixer enabled="true" browsers="last 2 versions" cascade="true" />
    </processing>
  </bundler>
  <dotless minifyCss="false" cache="true" web="false" strictMath="false" />
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!-- GZip static file content. Overrides the server default which only compresses static files over 2700 bytes -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
